@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Tzedaka1";
  src: url("../resources/fonts/Univers_45_Light_Regular.otf");
}

@font-face {
  font-family: "Tzedaka2";
  src: url("../resources/fonts/Univers_55_Roman.otf");
}

@font-face {
  font-family: "Tzedaka3";
  src: url("../resources/fonts/Univers_65_Bold_Regular.ttf");
}

@font-face {
  font-family: "TzedakaEmediaEmphasis";
  src: url("../resources/fonts/Arial_Bold.ttf");
  /* font-weight: 100; */
}

@font-face {
  font-family: "TzedakaEmediaBody";
  src: url("../resources/fonts/Arial_Regular.ttf");
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px black;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}

.half-black {
  background: rgba(black, 0.5);
}

.hiperlink {
  color: #007bff;
  text-decoration: underline;
}

.hiperlink:hover {
  color: #0056b3;
  text-decoration: none;
}

.hiperlink:visited {
  color: #800080;
}

.program-container {
  position: relative;
  padding-bottom: 1%;
  background-image: url("../public/kid.png");
  background-size: cover;
}

.program-container::before {
  content: ""; /* Asegúrate de agregar esta propiedad */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../public/kid.png");
  background-size: cover;
  z-index: -1; /* Asegúrate de colocar el pseudo-elemento detrás del contenido */
}

.program-content {
  padding: 1% 1%;
  display: flex;
  justify-content: center;
  position: relative;
  opacity: 1;
}

@layer keyframes {
  @keyframes grow {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
  }
}

@layer components {
  .animate-grow {
    animation: grow 0.75s linear infinite;
  }
}
